
<section id="cellar">
<% peak_year_ready = @cellar.bottles.where('peak_year = ?', Date.today.year) %>
<% peak_year_late = @cellar.bottles.where('peak_year < ?', Date.today.year) %>

  <% if peak_year_ready %>
    <% peak_year_ready.each do |bottle| %>
      <div class="cellar-alert-ok">
        <i class="fas fa-check-circle"></i>
        <p>A déguster : <%= link_to "#{bottle.name}, #{bottle.year}", bottle_path(bottle) %></p>
      </div>
    <% end %>
  <% end %> 

  <% if peak_year_late %>
    <% peak_year_late.each do |bottle| %>
      <% if bottle.year != 0 %>
        <div class="cellar-alert-warning">
          <i class="fas fa-exclamation-circle"></i>
          <p>Apogée dépassée : <%= link_to "#{bottle.name}, #{bottle.year}", bottle_path(bottle)%></p>
        </div>
      <% end %>
    <% end %>
  <% end %> 

  <% data = current_user.my_wine_types %>
  <% wine_colors = {
    "Rouge" => "#f19197",
    "Blanc - Sec" => "#fbf7e0",
    "Blanc - Moelleux" => "#f7f0cb",
    "Blanc - Liquoreux" => "#f2eabd",
    "Rosé - Moelleux" => "#f1cbc9",
    "Rosé - Sec" => "#f1cbc9",
    "Vin pétillant" => "#FBEAB1",
    "Vin pétillant - Demi sec" => "#F7D978"
    } %>
  <% colors = [] %>

  <% data.each do |score, _| %>
    <% colors << wine_colors[score] %>
  <% end %>

  <% if data.present? %>
    <%= pie_chart data, colors: colors %>
  <% else %> 
    <img src="https://lottiefiles.com/iframe/37267-swirling-wine"" alt="">
  <% end %>


  <div class="cellar-overview">
    <div class="cellar-img">
    <% if @cellar.bottles.count > 1 %>
        <% @cellar.bottles.last(3).each do |bottle|%>
        <img
          src="<%= bottle.image %>"
          alt="<%= bottle.name.strip %>"
        />
      <% end %>
    </div>
    <% end %>

  </div>
  <ul class="cellar-list">
    <div class="cellar-info">
      <div class="square-info">
        <h3><i class="fas fa-wine-bottle"></i> <%= @bottles_nb %></h3>
        <span>bouteille<%= "s" if @bottles_nb > 1 %></span>
      </div>
      <div class="square-info">
        <h3><i class="fas fa-medal"></i> <%= @cellar.bottles.where('peak_year = ?', Date.today.year).count %></h3>
        
        <% if @cellar.bottles.where('peak_year = ?', Date.today.year).count > 1 %>
          <span><%= "bouteilles à leur apogée" %></span>
        <% else %>
          <span><%= "bouteille à son apogée" %></span>
        <% end %>
      </div>
    </div>
    <% @cellar.stocks.each do |stock|%>
    <% if stock.quantity > 0 %>
      <a href="<%= bottle_path(stock.bottle) %>" class="link-to-bottle">
        <li>
          <img
            src="<%= stock.bottle.image %>"
            alt="<%= stock.bottle.name.strip %>"
          />
          <div class="bottle-info">
            <h4><%= stock.bottle.name.strip %></h4>
            <span><%= stock.bottle.year if stock.bottle.year > 0 %></span>
            <p class="grape"><%= stock.bottle.grape.name %></p>
            <div class="d-flex w-100 align-item-center justify-content-between">
              <span><i class="fas fa-wine-bottle"></i> <%= stock.quantity %></span>
              <%= link_to bottle_stock_path(stock.bottle, stock), method: :delete, data: {confirm: "Voulez vous vraiment supprimer #{stock.quantity} #{stock.bottle.name.strip}"} do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
          <div class="apogee-indicator"></div>
        </li>
      </a>
      <% end %>
    <% end %>
  </ul>
</section>
