
<section id="cellar">
  <div class="cellar-alert">
    <p>Aucune action à effectuer</p>
    <i class="fas fa-check-circle"></i>
  </div>

  <% data = current_user.my_wine_types %>
  <% wine_colors = {
    "Rouge" => "#BB0000",
    "Blanc - Sec" => "#F5F5F5",
    "Blanc - Moelleux" => "#C7C3BD",
    "Blanc - Liquoreux" => "#989186",
    "Rosé - Moelleux" => "#E5769F",
    "Rosé - Sec" => "#F1B5CB",
    "Vin pétillant" => "#FBEAB1",
    "Vin pétillant - Demi sec" => "#F7D978"
    } %>
  <% colors = [] %>

  <% data.each do |score, _| %>
    <% colors << wine_colors[score] %>
  <% end %>

  <% if data.present? %>
    <%= pie_chart data, colors: colors %>
  <% else %> 
    <img src="https://lottiefiles.com/iframe/37267-swirling-wine”" alt="">
  <% end %>
  

  <div class="cellar-overview">
    <div class="cellar-img">
    <% @cellar.bottles.last(3).each do |bottle|%>
      <img
        src="<%= bottle.image %>"
        alt="<%= bottle.name.strip %>"
      />
    <% end %>
    </div>
  </div>
  <ul class="cellar-list">
    <div class="cellar-info">
      <div class="square-info">
        <% stock = Stock.all %>
        <% acc = 0 %>
        <% stock.each do |stock| %>
          <% acc += stock.quantity %>
        <% end %>
          <h3><i class="fas fa-wine-bottle"></i> <%= acc %></h3>
          <span>bouteille<%= "s" if @cellar.bottles.count > 1 %></span>
      </div>
      <div class="square-info">
        <h3><i class="fas fa-medal"></i> <%= @cellar.bottles.where('year >= peak_year').count %></h3>

        <% if @cellar.bottles.where('year >= peak_year').count > 1 %>
          <span><%= "bouteilles à leur apogée" %></span>
        <% else %>
          <span><%= "bouteille à son apogée" %></span>
        <% end %>
      </div>
    </div>
    <% @cellar.bottles.each do |bottle|%>
    <a href="<%= bottle_path(bottle) %>">
      <li>
        <img
          src="<%= bottle.image %>"
          alt="<%= bottle.name.strip %>"
        />
        <div class="bottle-info">
          <h4><%= bottle.name.strip %></h4>
          <span><%= bottle.year if bottle.year > 0 %></span>
          <p class="grape"><%= bottle.grape.name %></p>
          <span><i class="fas fa-wine-bottle"></i> <%= bottle.stocks.first.quantity %></span>
        </div>
        <div class="apogee-indicator"></div>
      </li>
    </a>
    <% end %>
  </ul>
</section>
