<section id="results">
  <h1> Voici ce que nous avons... </h1>
    <ul class="result-list">
    <% @bottles.each do |bottle| %>
      <li data-type="<%=bottle.wine_type.name%>">
        <a class="bottle-show" href="<%= bottle_path(bottle) %>">
          <img src="<%= bottle.image %>" alt="<%= bottle.name %>">

          <div class="bottle-info">
            <h2><%= bottle.name %></h2>
            <% if bottle.year > 0 %>
            <h3><%= bottle.year %></h3>
            <% end %>
            <p class="grape"><%= bottle.grape.name %></p>
          </div>
        </a>
        <a href="" class="add">+</a>
      </li>
    <% end %>
  </ul>

</section>
