<h1> Les bouteilles disponibles : </h1>
  <% @bottles.each do |bottle| %>
    <h2><%= bottle.name %> - <%= bottle.vineyard %></h2>
    <h3> <%= bottle.year %></h3>
    <h3> <%= bottle.region.name %> - <%= bottle.grape.name %></h3>
    <p><%= bottle.description %></p>
  <% end %>
