<section class="bottle-show">
    <div class="image-show-bottle <%= @wine_bg %>">
      <img src="<%=@bottle.image%>" alt="">
      <span class="year-overview"><%= @bottle.year %></span>
		</div>
    <div class="bottle-info">
      <div class="bottle-title ">
        <h1><%= @bottle.name %></h1>
        <h2><%= @bottle.vineyard.capitalize %></h2>
      </div>
      <div class="bottle-spec">
        <div class="sub-spec">
          <span>Type</span>
          <p><%= @bottle.wine_type.name %></p>
        </div>
        <div class="sub-spec">
          <span>Année</span>
          <p><%= @bottle.year %></p>
        </div>
        <div class="sub-spec">
          <span>Appogée</span>
          <p><%= @bottle.peak_year %></p>
        </div>
      </div>
      <div class="spec-bottle">
        <p>Température idéale pour la conservation: <br><%= @bottle.preservation_advice %></p>
      </div>
      <div class="spec-bottle">
        <p>Région : <%= @bottle.region.name %></p>
        <p>Cépages : <%= @bottle.grape.name %></p>
      </div>
    </div>
    <div class="cave-control">
          
          <div class="form-controls">
            
            <% if user_signed_in? && @stock.present? %>
            
              <%= simple_form_for [@bottle, @stock], url: bottle_stock_path(@bottle, @stock.id), method: :patch do |f| %>
                <div class="d-flex align-item-center">
                  <button id="btn-select-less">-</button>
                  <%= f.input :quantity, input_html: { value: "#{@stock.quantity}", min: 0 } %>
                  <button id="btn-select-more">+</button>
                </div>
                <%= f.button :submit, value: "Actualiser", class: "btn-submit"%>
              <% end %>
            <% end %>
          </div>
      </div>
	</section>