<section class="bottle-show-page">
    <div class="image-show-bottle <%= @wine_bg %>">
      <img src="<%=@bottle.image%>" alt="">
      <span class="year-overview"><%= @bottle.year if @bottle.year > 0 %></span>
		</div>
    <div class="bottle-info">
      <div class="bottle-title ">
        <h1><%= @bottle.name %></h1>
        <h2><%= @bottle.vineyard.capitalize %></h2>
      </div>
      <div class="bottle-spec">
        <div class="sub-spec">
          <span>Type</span>
          <p><%= @bottle.wine_type.name %></p>
        </div>
				<% if @bottle.year != 0 %>
					<div class="sub-spec">
						<span>Année</span>
						<p><%= @bottle.year %></p>
					</div>
				<% end %>
				<% if @bottle.peak_year > 0 %>
					<div class="sub-spec">
						<span>Appogée</span>
						<p><%= @bottle.peak_year %></p>
					</div>
				<% end %>
      </div>
			<div class="spec-bottle">
        <p><br><%= @bottle.description %></p>
      </div>
      <div class="spec-bottle">
        <p><span class="spec-detail">Température :</span> <%= @bottle.preservation_advice %></p>
      </div>
      <div class="spec-bottle">
        <p><span class="spec-detail">Région :</span> <%= @bottle.region.name %></p>
        <p><span class="spec-detail">Cépages :</span> <%= @bottle.grape.name %></p>
				<% @bottle.foods.each do |food| %>
          <p><span class="spec-detail">À associer avec :</span> <%= food.name %></p>
        <% end %>
      </div>
    </div>
    <div class="cave-control">
          
          <div class="form-controls">
            
            <% if user_signed_in? && @stock.present? %>
            
              <%= simple_form_for [@bottle, @stock], url: bottle_stock_path(@bottle, @stock.id), method: :patch do |f| %>
                <div class="d-flex align-item-center">
                  <button id="btn-select-less">-</button>
                  <%= f.input :quantity, input_html: { value: "#{@stock.quantity}", min: 0 } %>
                  <button id="btn-select-more">+</button>
                </div>
                <%= f.button :submit, value: "Actualiser", class: "btn-submit"%>
              <% end %>
            <% end %>
          </div>
      </div>
	</section>