<h1> <%= @bottle.name %></h1>
  <%= @bottle.vineyard %></h2>
    <h2> <%= @bottle.year %></h2>
    <h2> <%= @bottle.region.name %> - <%= @bottle.grape.name %></h2>
    <p><%= @bottle.description %></p>
    <p><%= @bottle.preservation_advice %></p>
    <p><%= bottle.count%></p>

    <p><%La bouteille sera à son appogée en : <%= @bottle.year + 10 %></p>


<!-- quantity par bouteilles/index ok -->
<!-- mettre possibilité update la quantiée  -->
<!-- rajouter possibilité de mettre une photo  -->
