<!DOCTYPE html>
<html>
  <head>
    <title>Vinage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <section class="sticky-top">
      <%= render 'shared/top_logo' %>
    </section>
    <%= render 'shared/app_navbar' %>
    <%= render 'shared/flashes' %>
    
    <%= form_tag bottles_path, method: :get, id: "search-form" do %>
      <%= search_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Rechercher un vin",
        anchor: "search"
      %>
      <%= submit_tag "Rechercher", class: "hidden"%>
    <% end %>

    <%= yield %>

  
  </body>
</html>
